In [176]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.tsa.api import VAR

path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT10] Series de Tiempo\Clases prácticas\Práctica 1-20250419\var.xlsx"
df = pd.read_excel(path)
df.head()

    dateid01                  dateid  fed_funds  inflation   un_rate
0 1947-01-01 1947-03-31 23:59:59.999        NaN        NaN       NaN
1 1947-04-01 1947-06-30 23:59:59.999        NaN   5.737548       NaN
2 1947-07-01 1947-09-30 23:59:59.999        NaN   7.118936       NaN
3 1947-10-01 1947-12-31 23:59:59.999        NaN   8.188125       NaN
4 1948-01-01 1948-03-31 23:59:59.999        NaN   4.503751  3.733333

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateid01   219 non-null    datetime64[ns]
 1   dateid     219 non-null    datetime64[ns]
 2   fed_funds  189 non-null    float64
 3   inflation  218 non-null    float64
 4   un_rate    215 non-null    float64
dtypes: datetime64[ns](2), float64(3)
memory usage: 8.7 KB

In [178]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateid01   189 non-null    datetime64[ns]
 1   dateid     189 non-null    datetime64[ns]
 2   fed_funds  189 non-null    float64
 3   inflation  189 non-null    float64
 4   un_rate    189 non-null    float64
dtypes: datetime64[ns](2), float64(3)
memory usage: 7.5 KB

In [179]:
df['dateid'] = pd.to_datetime(df['dateid'])
df['dateidQ'] = df['dateid'].dt.to_period('Q')
df.sort_values(by=['dateid'], inplace=True)
df

      dateid01                  dateid  fed_funds  inflation   un_rate dateidQ
0   1954-07-01 1954-09-30 23:59:59.999   1.026667   0.000000  5.966667  1954Q3
1   1954-10-01 1954-12-31 23:59:59.999   0.986667   0.411100  5.333333  1954Q4
2   1955-01-01 1955-03-31 23:59:59.999   1.343333   1.640187  4.733333  1955Q1
3   1955-04-01 1955-06-30 23:59:59.999   1.500000   2.244331  4.400000  1955Q2
4   1955-07-01 1955-09-30 23:59:59.999   1.940000   2.838329  4.100000  1955Q3
..         ...                     ...        ...        ...       ...     ...
184 2000-07-01 2000-09-30 23:59:59.999   6.520000   1.868115  4.066667  2000Q3
185 2000-10-01 2000-12-31 23:59:59.999   6.473333   1.748108  3.966667  2000Q4
186 2001-01-01 2001-03-31 23:59:59.999   5.593333   3.215838  4.233333  2001Q1
187 2001-04-01 2001-06-30 23:59:59.999   4.326667   2.092996  4.500000  2001Q2
188 2001-07-01 2001-09-30 23:59:59.999   3.496667   2.227808  4.833333  2001Q3

[189 rows x 6 columns]

In [180]:
df_f = df[(df['dateidQ']>='1960Q1')&(df['dateidQ']<='2000Q4')]
df_f.reset_index(drop=True, inplace=True)
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateid01   164 non-null    datetime64[ns]
 1   dateid     164 non-null    datetime64[ns]
 2   fed_funds  164 non-null    float64
 3   inflation  164 non-null    float64
 4   un_rate    164 non-null    float64
 5   dateidQ    164 non-null    period[Q-DEC]
dtypes: datetime64[ns](2), float64(3), period[Q-DEC](1)
memory usage: 7.8 KB

In [181]:
df_f = df_f[['dateid', 'fed_funds', 'inflation', 'un_rate']].copy()
df_f.set_index('dateid', inplace=True)

from statsmodels.tsa.api import VAR

# Crear el modelo VAR.
model = VAR(df_f, freq='QE')
results = model.fit(maxlags=4)
print(results.summary())

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sat, 19, Apr, 2025
Time:                     20:06:22
--------------------------------------------------------------------
No. of Equations:         3.00000    BIC:                   -2.50944
Nobs:                     160.000    HQIC:                  -2.95464
Log likelihood:          -381.369    FPE:                  0.0384676
AIC:                     -3.25902    Det(Omega_mle):       0.0304310
--------------------------------------------------------------------
Results for equation fed_funds
===============================================================================
                  coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------------
const                0.540692         0.333943            1.619           0.105
L1.fed_funds         0.946091         0.091146           10.380           0.000
L1.inflation         0.068137         0.073169            0.931           0.352
L1.un_rate          -1.642548         0.347590           -4.726           0.000
L2.fed_funds        -0.366947         0.121517           -3.020           0.003
L2.inflation         0.226469         0.085242            2.657           0.008
L2.un_rate           1.824397         0.597223            3.055           0.002
L3.fed_funds         0.339235         0.119516            2.838           0.005
L3.inflation        -0.101051         0.086547           -1.168           0.243
L3.un_rate          -0.853748         0.602556           -1.417           0.157
L4.fed_funds         0.011698         0.091561            0.128           0.898
L4.inflation        -0.025299         0.077501           -0.326           0.744
L4.un_rate           0.551185         0.332368            1.658           0.097
===============================================================================

Results for equation inflation
===============================================================================
                  coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------------
const                0.947008         0.371914            2.546           0.011
L1.fed_funds         0.157754         0.101509            1.554           0.120
L1.inflation         0.633041         0.081489            7.768           0.000
L1.un_rate          -1.145123         0.387113           -2.958           0.003
L2.fed_funds        -0.133964         0.135334           -0.990           0.322
L2.inflation         0.053480         0.094935            0.563           0.573
L2.un_rate           1.970373         0.665130            2.962           0.003
L3.fed_funds         0.020468         0.133106            0.154           0.878
L3.inflation         0.116204         0.096387            1.206           0.228
L3.un_rate          -1.573516         0.671070           -2.345           0.019
L4.fed_funds        -0.040485         0.101972           -0.397           0.691
L4.inflation         0.192596         0.086314            2.231           0.026
L4.un_rate           0.587986         0.370159            1.588           0.112
===============================================================================

Results for equation un_rate
===============================================================================
                  coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------------
const                0.058818         0.085456            0.688           0.491
L1.fed_funds         0.005005         0.023324            0.215           0.830
L1.inflation         0.038362         0.018724            2.049           0.040
L1.un_rate           1.493192         0.088948           16.787           0.000
L2.fed_funds         0.043915         0.031096            1.412           0.158
L2.inflation        -0.026933         0.021813           -1.235           0.217
L2.un_rate          -0.535778         0.152828           -3.506           0.000
L3.fed_funds        -0.025026         0.030584           -0.818           0.413
L3.inflation         0.016157         0.022147            0.730           0.466
L3.un_rate           0.004196         0.154193            0.027           0.978
L4.fed_funds         0.008804         0.023430            0.376           0.707
L4.inflation        -0.021645         0.019832           -1.091           0.275
L4.un_rate          -0.013207         0.085052           -0.155           0.877
===============================================================================

Correlation matrix of residuals
             fed_funds  inflation   un_rate
fed_funds     1.000000   0.123221 -0.453065
inflation     0.123221   1.000000 -0.059435
un_rate      -0.453065  -0.059435  1.000000