In [1]:
import numpy as np
import pandas as pd

path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT10] Series de Tiempo\Clases prácticas\Práctica 2-20250504\termduffie.txt"
df = pd.read_csv(path, delimiter="\t", decimal=".")
df.head()

,Name,curv,dr,r10y,r1y,r2y,r3m,r5y,r6m,spread1,spread10,spread2,spread5
0,NaN,-0.000750,NaN,0.006241,0.004396,0.004721,0.003952,0.005416,0.004169,0.000444,0.002290,0.000770,0.001464
1,NaN,-0.000370,0.000600,0.006006,0.004837,0.005093,0.004551,0.005546,0.004672,0.000286,0.001454,0.000542,0.000995
2,NaN,-0.000427,-0.000062,0.006690,0.005066,0.005376,0.004490,0.006013,0.004808,0.000577,0.002200,0.000887,0.001523
3,NaN,-0.000318,0.000609,0.006337,0.005364,0.005558,0.005098,0.005895,0.005226,0.000266,0.001239,0.000460,0.000797
4,NaN,-0.000769,-0.000054,0.006827,0.005288,0.005551,0.005044,0.006153,0.005138,0.000244,0.001783,0.000507,0.001109

In [2]:
df = df.drop(columns=['Name'])
df.head(1)

,curv,dr,r10y,r1y,r2y,r3m,r5y,r6m,spread1,spread10,spread2,spread5
0,-0.00075,NaN,0.006241,0.004396,0.004721,0.003952,0.005416,0.004169,0.000444,0.00229,0.00077,0.001464