In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.stats.diagnostic import acorr_ljungbox

path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT10] Series de Tiempo\Clases prácticas\Práctica 1-20250419\var.xlsx"
df = pd.read_excel(path)
df.head()

    dateid01                  dateid  fed_funds  inflation   un_rate
0 1947-01-01 1947-03-31 23:59:59.999        NaN        NaN       NaN
1 1947-04-01 1947-06-30 23:59:59.999        NaN   5.737548       NaN
2 1947-07-01 1947-09-30 23:59:59.999        NaN   7.118936       NaN
3 1947-10-01 1947-12-31 23:59:59.999        NaN   8.188125       NaN
4 1948-01-01 1948-03-31 23:59:59.999        NaN   4.503751  3.733333

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dateid01   219 non-null    datetime64[ns]
 1   dateid     219 non-null    datetime64[ns]
 2   fed_funds  189 non-null    float64
 3   inflation  218 non-null    float64
 4   un_rate    215 non-null    float64
dtypes: datetime64[ns](2), float64(3)
memory usage: 8.7 KB