In [3]:
import numpy as np
import pandas as pd

path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT10] Series de Tiempo\Clases prácticas\Prácticas\Práctica 4-20250516\rp.txt"
df = pd.read_csv(path, delimiter="\t", decimal=".")
df.head()

,Name,dateid01,dateid,r3,r6,tb3ms,tb6ms,y
0,Display_name,NaN,NaN,NaN,NaN,TB3MS,NaN,NaN
1,NaN,TB6MS,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1934-01-01,1934-03-31 23:59:59.999,NaN,NaN,0.52666666666666664,NaN,NaN
4,NaN,1934-04-01,1934-06-30 23:59:59.999,NaN,NaN,0.15333333333333332,NaN,NaN

In [1]:
sticks = [1,2,3,4,5,10]

In [15]:
for s in range(len(sticks)):
    for i in range(1, len(sticks)): 
        for j in range(2, len(sticks)):
            if i != j:
                print(sticks[s], sticks[i], sticks[j])

1 2 3
1 2 4
1 2 5
1 2 10
1 3 4
1 3 5
1 3 10
1 4 3
1 4 5
1 4 10
1 5 3
1 5 4
1 5 10
1 10 3
1 10 4
1 10 5
2 2 3
2 2 4
2 2 5
2 2 10
2 3 4
2 3 5
2 3 10
2 4 3
2 4 5
2 4 10
2 5 3
2 5 4
2 5 10
2 10 3
2 10 4
2 10 5
3 2 3
3 2 4
3 2 5
3 2 10
3 3 4
3 3 5
3 3 10
3 4 3
3 4 5
3 4 10
3 5 3
3 5 4
3 5 10
3 10 3
3 10 4
3 10 5
4 2 3
4 2 4
4 2 5
4 2 10
4 3 4
4 3 5
4 3 10
4 4 3
4 4 5
4 4 10
4 5 3
4 5 4
4 5 10
4 10 3
4 10 4
4 10 5
5 2 3
5 2 4
5 2 5
5 2 10
5 3 4
5 3 5
5 3 10
5 4 3
5 4 5
5 4 10
5 5 3
5 5 4
5 5 10
5 10 3
5 10 4
5 10 5
10 2 3
10 2 4
10 2 5
10 2 10
10 3 4
10 3 5
10 3 10
10 4 3
10 4 5
10 4 10
10 5 3
10 5 4
10 5 10
10 10 3
10 10 4
10 10 5