In [3]:
import pandas as pd
import numpy as np

path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT10] Series de Tiempo\Examen\shiller2018a.txt"
df = pd.read_csv(path, delimiter="\t", decimal=".")
df.head()

,dateid01,dateid,_10_y_rate,_1y_rate,cpi,dividends,dlogrdiv,dlogrsp,growth,prices,rdiv,rgdp,rsp,total_gdp__in_billions_,year
0,1900-01-01,1900-12-31 23:59:59.999,3.15,4.64,7.611652,0.30,NaN,NaN,NaN,6.87,0.039413,80.665552,0.902564,613.998102,1900
1,1901-01-01,1901-12-31 23:59:59.999,3.10,4.30,7.992232,0.32,0.015749,0.097218,0.057868,7.95,0.040039,85.471248,0.994716,683.106049,1901
2,1902-01-01,1902-12-31 23:59:59.999,3.18,4.72,8.563094,0.33,-0.038220,-0.056491,-0.058766,8.05,0.038537,80.593171,0.940081,690.126915,1902
3,1903-01-01,1903-12-31 23:59:59.999,3.30,5.50,8.087381,0.35,0.115997,-0.146002,0.104750,6.57,0.043277,89.493291,0.812377,723.766355,1903
4,1904-01-01,1904-12-31 23:59:59.999,3.40,4.34,8.467929,0.31,-0.167342,0.181718,-0.058696,8.25,0.036609,84.391575,0.974264,714.621863,1904

In [4]:

import statsmodels.api as sm
from statsmodels.tsa.arima.model import ARIMA
from itertools import product
import warnings

# Suponé que ya tenés tus series cargadas:
serie = df["dlogrsp"]

# Por ejemplo:
serie = serie.dropna()

def buscar_mejor_arima(serie, max_p=3, max_d=2, max_q=3):
    resultados = []
    warnings.filterwarnings("ignore")  # Evita warnings molestos al probar modelos

    for p, d, q in product(range(max_p + 1), range(max_d + 1), range(max_q + 1)):
        if p == 0 and d == 0 and q == 0:
            continue  # Evita modelo trivial

        try:
            modelo = ARIMA(serie, order=(p, d, q)).fit()
            resultados.append({
                'order': (p, d, q),
                'aic': modelo.aic,
                'bic': modelo.bic
            })
        except:
            continue

    # Convertir a DataFrame y ordenar por AIC
    res_df = pd.DataFrame(resultados)
    mejor = res_df.sort_values('aic').iloc[0]
    return mejor, res_df.sort_values('aic')

# --- USO ---
mejor_modelo, todos_los_modelos = buscar_mejor_arima(serie)
print("Mejor modelo ARIMA encontrado:")
print(mejor_modelo)

Mejor modelo ARIMA encontrado:
order    (0, 0, 2)
aic     -55.189562
bic     -44.106823
Name: 1, dtype: object

In [5]:
# Suponé que ya tenés tus series cargadas:
serie = df["dlogrdiv"]

# Por ejemplo:
serie = serie.dropna()

def buscar_mejor_arima(serie, max_p=3, max_d=2, max_q=3):
    resultados = []
    warnings.filterwarnings("ignore")  # Evita warnings molestos al probar modelos

    for p, d, q in product(range(max_p + 1), range(max_d + 1), range(max_q + 1)):
        if p == 0 and d == 0 and q == 0:
            continue  # Evita modelo trivial

        try:
            modelo = ARIMA(serie, order=(p, d, q)).fit()
            resultados.append({
                'order': (p, d, q),
                'aic': modelo.aic,
                'bic': modelo.bic
            })
        except:
            continue

    # Convertir a DataFrame y ordenar por AIC
    res_df = pd.DataFrame(resultados)
    mejor = res_df.sort_values('aic').iloc[0]
    return mejor, res_df.sort_values('aic')

# --- USO ---
mejor_modelo, todos_los_modelos = buscar_mejor_arima(serie)
print("Mejor modelo ARIMA encontrado:")
print(mejor_modelo)

Mejor modelo ARIMA encontrado:
order     (1, 0, 2)
aic     -190.944681
bic     -177.091258
Name: 13, dtype: object